/* CSS for the Simons board */
body {
    text-align: center;
    background-color: #264653;
    touch-action: manipulation;
  }

h2{
  color: #fffffc;
  font-family: 'Neucha', cursive;
}
  
  #level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin: 5%;
    color: #fffffc;
  }

  .utilbtn {
    padding: 12px;
    font-size: 16px;
    margin: 16px;
    font-family: 'Chilanka', cursive;
  }
  
  .container {
    display: block;
    max-width: 100%;
    margin: auto;
  
  }
  
  .btn {
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
  }
  
  .game-over {
    background-color: red;
    opacity: 0.8;
  }

  .pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }

  /* button colors */
  .red {
    background-color: red;
  }
  
  .green {
    background-color: #48d80d;
  }
  
  .blue {
    background-color: blue;
  }
  
  .cyan{
      background-color: #00FFFF;
  }

  .yellow {
    background-color: yellow;
  }

  .pink{
      background-color: #ff0067;
  }

  .ivory{
      background-color: #ffdfbb;
  }

  .orange{
      background-color: orange;
  }
  
  .purple{
      background-color: #b4a5ff;
  }

@media screen and (max-height: 650px) {
  #level-title {
    font-size: 1.5rem;
    margin: 16px;
  }

  h2 { margin: 0; }

  .btn {
    margin: 15px;
    height: 120px;
    width: 120px;
    border-width: 4px;
  }
}

@media screen and (max-width: 600px) {

  .btn {
    margin: 1%;
    width: 25%;
    border-width: 4px;
  }
}